IF DB_ID('PrestamosCHN') IS NULL
BEGIN
    CREATE DATABASE PrestamosCHN;
END
GO

USE [PrestamosCHN]
GO
/****** Objeto: Table [dbo].[Clientes] Fecha de script: 29/07/2026 07:43:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[PrimerNombre] [nvarchar](50) NOT NULL,
	[SegundoNombre] [nvarchar](50) NULL,
	[TercerNombre] [nvarchar](50) NULL,
	[PrimerApellido] [nvarchar](50) NOT NULL,
	[SegundoApellido] [nvarchar](50) NULL,
	[ApellidoCasada] [nvarchar](50) NULL,
	[NumeroIdentificacion] [nvarchar](50) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[Direccion] [nvarchar](550) NOT NULL,
	[Correo] [nvarchar](150) NOT NULL,
	[Telefono] [nvarchar](50) NOT NULL,
	[IdEstado] [int] NOT NULL,
	[UsuarioCrea] [nvarchar](50) NOT NULL,
	[FechaCrea] [datetime2](7) NOT NULL,
	[UsuarioActualiza] [nvarchar](50) NULL,
	[FechaActualiza] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NumeroIdentificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DetallePagos] Fecha de script: 29/07/2026 07:43:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetallePagos](
	[IdDetallePago] [int] IDENTITY(1,1) NOT NULL,
	[IdPago] [int] NOT NULL,
	[IdPlanPago] [int] NOT NULL,
	[MontoAplicado] [decimal](18, 2) NOT NULL,
	[UsuarioCrea] [nvarchar](50) NOT NULL,
	[FechaCrea] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_DetallePagos] PRIMARY KEY CLUSTERED 
(
	[IdDetallePago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_DetallePagos_Pago_Cuota] UNIQUE NONCLUSTERED 
(
	[IdPago] ASC,
	[IdPlanPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Estados] Fecha de script: 29/07/2026 07:43:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estados](
	[IdEstado] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](50) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Descripcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/*Ingreso de datos para la tabla estados*/
INSERT INTO Estados (Descripcion, Activo)
VALUES
('Activo', 1),
('Inactivo', 1);
GO
/****** Objeto: Table [dbo].[EstadosSolicitud] Fecha de script: 29/07/2026 07:43:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadosSolicitud](
	[IdEstadoSolicitud] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](50) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEstadoSolicitud] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Descripcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/*Insert de datos de la tabla Estados Solicitud*/
INSERT INTO EstadosSolicitud (Descripcion, Activo)
VALUES
('Pendiente', 1),
('Aprobada', 1),
('Rechazada', 1);
GO
/****** Objeto: Table [dbo].[Pagos] Fecha de script: 29/07/2026 07:43:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pagos](
	[IdPago] [int] IDENTITY(1,1) NOT NULL,
	[FechaPago] [date] NOT NULL,
	[MontoPago] [decimal](18, 2) NOT NULL,
	[NumeroComprobante] [nvarchar](50) NULL,
	[EstadoPago] [nvarchar](20) NOT NULL,
	[Observaciones] [nvarchar](500) NULL,
	[UsuarioCrea] [nvarchar](50) NOT NULL,
	[FechaCrea] [datetime2](7) NOT NULL,
	[UsuarioActualiza] [nvarchar](50) NULL,
	[FechaActualiza] [datetime2](7) NULL,
	[IdSolicitud] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[PlanPagos] Fecha de script: 29/07/2026 07:43:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlanPagos](
	[IdPlanPago] [int] IDENTITY(1,1) NOT NULL,
	[IdSolicitud] [int] NOT NULL,
	[NumeroCuota] [int] NOT NULL,
	[FechaVencimiento] [date] NOT NULL,
	[MontoCapital] [decimal](18, 2) NOT NULL,
	[MontoInteres] [decimal](18, 2) NOT NULL,
	[MontoCuota] [decimal](18, 2) NOT NULL,
	[SaldoCuota] [decimal](18, 2) NOT NULL,
	[EstadoCuota] [nvarchar](20) NOT NULL,
	[UsuarioCrea] [nvarchar](50) NOT NULL,
	[FechaCrea] [datetime2](7) NOT NULL,
	[UsuarioActualiza] [nvarchar](50) NULL,
	[FechaActualiza] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPlanPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_PlanPagos_Solicitud_Cuota] UNIQUE NONCLUSTERED 
(
	[IdSolicitud] ASC,
	[NumeroCuota] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[SolicitudesPrestamo] Fecha de script: 29/07/2026 07:43:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SolicitudesPrestamo](
	[IdSolicitud] [int] IDENTITY(1,1) NOT NULL,
	[IdCliente] [int] NOT NULL,
	[MontoSolicitado] [decimal](18, 2) NOT NULL,
	[MontoAprobado] [decimal](18, 2) NULL,
	[PlazoMeses] [int] NOT NULL,
	[TasaInteres] [decimal](9, 6) NOT NULL,
	[FechaSolicitud] [date] NOT NULL,
	[FechaDesembolso] [date] NULL,
	[FechaResolucion] [date] NULL,
	[IdEstadoSolicitud] [int] NOT NULL,
	[Observaciones] [nvarchar](500) NULL,
	[UsuarioCrea] [nvarchar](50) NOT NULL,
	[FechaCrea] [datetime2](7) NOT NULL,
	[UsuarioActualiza] [nvarchar](50) NULL,
	[FechaActualiza] [datetime2](7) NULL,
	[CuotaMensual] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSolicitud] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT (getdate()) FOR [FechaCrea]
GO
ALTER TABLE [dbo].[DetallePagos] ADD  CONSTRAINT [DF_DetallePagos_FechaCrea]  DEFAULT (getdate()) FOR [FechaCrea]
GO
ALTER TABLE [dbo].[Estados] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[EstadosSolicitud] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Pagos] ADD  DEFAULT ('Aplicado') FOR [EstadoPago]
GO
ALTER TABLE [dbo].[Pagos] ADD  DEFAULT (getdate()) FOR [FechaCrea]
GO
ALTER TABLE [dbo].[PlanPagos] ADD  DEFAULT ('Pendiente') FOR [EstadoCuota]
GO
ALTER TABLE [dbo].[PlanPagos] ADD  DEFAULT (getdate()) FOR [FechaCrea]
GO
ALTER TABLE [dbo].[SolicitudesPrestamo] ADD  DEFAULT (getdate()) FOR [FechaCrea]
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [FK_Clientes_Estados] FOREIGN KEY([IdEstado])
REFERENCES [dbo].[Estados] ([IdEstado])
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [FK_Clientes_Estados]
GO
ALTER TABLE [dbo].[DetallePagos]  WITH CHECK ADD  CONSTRAINT [FK_DetallePagos_Pagos] FOREIGN KEY([IdPago])
REFERENCES [dbo].[Pagos] ([IdPago])
GO
ALTER TABLE [dbo].[DetallePagos] CHECK CONSTRAINT [FK_DetallePagos_Pagos]
GO
ALTER TABLE [dbo].[DetallePagos]  WITH CHECK ADD  CONSTRAINT [FK_DetallePagos_PlanPagos] FOREIGN KEY([IdPlanPago])
REFERENCES [dbo].[PlanPagos] ([IdPlanPago])
GO
ALTER TABLE [dbo].[DetallePagos] CHECK CONSTRAINT [FK_DetallePagos_PlanPagos]
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD  CONSTRAINT [FK_Pagos_SolicitudesPrestamo] FOREIGN KEY([IdSolicitud])
REFERENCES [dbo].[SolicitudesPrestamo] ([IdSolicitud])
GO
ALTER TABLE [dbo].[Pagos] CHECK CONSTRAINT [FK_Pagos_SolicitudesPrestamo]
GO
ALTER TABLE [dbo].[PlanPagos]  WITH CHECK ADD  CONSTRAINT [FK_PlanPagos_SolicitudesPrestamo] FOREIGN KEY([IdSolicitud])
REFERENCES [dbo].[SolicitudesPrestamo] ([IdSolicitud])
GO
ALTER TABLE [dbo].[PlanPagos] CHECK CONSTRAINT [FK_PlanPagos_SolicitudesPrestamo]
GO
ALTER TABLE [dbo].[SolicitudesPrestamo]  WITH CHECK ADD  CONSTRAINT [FK_SolicitudesPrestamo_Clientes] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Clientes] ([IdCliente])
GO
ALTER TABLE [dbo].[SolicitudesPrestamo] CHECK CONSTRAINT [FK_SolicitudesPrestamo_Clientes]
GO
ALTER TABLE [dbo].[SolicitudesPrestamo]  WITH CHECK ADD  CONSTRAINT [FK_SolicitudesPrestamo_EstadosSolicitud] FOREIGN KEY([IdEstadoSolicitud])
REFERENCES [dbo].[EstadosSolicitud] ([IdEstadoSolicitud])
GO
ALTER TABLE [dbo].[SolicitudesPrestamo] CHECK CONSTRAINT [FK_SolicitudesPrestamo_EstadosSolicitud]
GO
ALTER TABLE [dbo].[DetallePagos]  WITH CHECK ADD  CONSTRAINT [CK_DetallePagos_MontoAplicado] CHECK  (([MontoAplicado]>(0)))
GO
ALTER TABLE [dbo].[DetallePagos] CHECK CONSTRAINT [CK_DetallePagos_MontoAplicado]
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD  CONSTRAINT [CK_Pagos_Monto] CHECK  (([MontoPago]>(0)))
GO
ALTER TABLE [dbo].[Pagos] CHECK CONSTRAINT [CK_Pagos_Monto]
GO
ALTER TABLE [dbo].[PlanPagos]  WITH CHECK ADD  CONSTRAINT [CK_PlanPagos_Montos] CHECK  (([MontoCapital]>=(0) AND [MontoInteres]>=(0) AND [MontoCuota]>(0) AND [SaldoCuota]>=(0)))
GO
ALTER TABLE [dbo].[PlanPagos] CHECK CONSTRAINT [CK_PlanPagos_Montos]
GO
ALTER TABLE [dbo].[PlanPagos]  WITH CHECK ADD  CONSTRAINT [CK_PlanPagos_NumeroCuota] CHECK  (([NumeroCuota]>(0)))
GO
ALTER TABLE [dbo].[PlanPagos] CHECK CONSTRAINT [CK_PlanPagos_NumeroCuota]
GO
ALTER TABLE [dbo].[SolicitudesPrestamo]  WITH CHECK ADD  CONSTRAINT [CK_SolicitudesPrestamo_Monto] CHECK  (([MontoSolicitado]>(0)))
GO
ALTER TABLE [dbo].[SolicitudesPrestamo] CHECK CONSTRAINT [CK_SolicitudesPrestamo_Monto]
GO
ALTER TABLE [dbo].[SolicitudesPrestamo]  WITH CHECK ADD  CONSTRAINT [CK_SolicitudesPrestamo_Plazo] CHECK  (([PlazoMeses]>(0)))
GO
ALTER TABLE [dbo].[SolicitudesPrestamo] CHECK CONSTRAINT [CK_SolicitudesPrestamo_Plazo]
GO
ALTER TABLE [dbo].[SolicitudesPrestamo]  WITH CHECK ADD  CONSTRAINT [CK_SolicitudesPrestamo_Tasa] CHECK  (([TasaInteres]>=(0)))
GO
ALTER TABLE [dbo].[SolicitudesPrestamo] CHECK CONSTRAINT [CK_SolicitudesPrestamo_Tasa]
GO
